@font-face {
  font-display: swap;
  font-family: 'montserrat__k';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat/montserrat-v26-cyrillic_latin-regular.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-v26-cyrillic_latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'montserrat__k';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat/montserrat-v26-cyrillic_latin-500.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-v26-cyrillic_latin-500.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'montserrat__k';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat/montserrat-v26-cyrillic_latin-600.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-v26-cyrillic_latin-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'montserrat__k';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat/montserrat-v26-cyrillic_latin-700.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-v26-cyrillic_latin-700.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'montserrat__k';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/montserrat/montserrat-v26-cyrillic_latin-900.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-v26-cyrillic_latin-900.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'oswald__k';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald/oswald-v53-cyrillic_latin-regular.woff2') format('woff2'),
       url('../fonts/oswald/oswald-v53-cyrillic_latin-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'benas_neue__k';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bebas-neue/bebas-neue-v14-latin-regular.woff2') format('woff2'),
       url('../fonts/bebas-neue/bebas-neue-v14-latin-regular.ttf') format('truetype');
}