@font-face {
	font-family: 'montserrat__k';
  src: url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'), 
	url('../fonts/montserrat/Montserrat-Regular.ttf') format('ttf');
	font-weight: 400;
  font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'montserrat__k';
	src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'), 
			url('../fonts/montserrat/Montserrat-Medium.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'montserrat__k';
  src: url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'), 
	    url('../fonts/montserrat/Montserrat-SemiBold.ttf') format('ttf');
	font-weight: 600;
  font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'montserrat__k';
  src:url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'), 
	    url('../fonts/montserrat/Montserrat-Bold.ttf') format('ttf');
	font-weight: 700;
  font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: 'montserrat__k';
  src:url('../fonts/montserrat/Montserrat-Black.woff2') format('woff2'), 
	    url('../fonts/montserrat/Montserrat-Black.ttf') format('ttf');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'oswald__k';
  src:url('./fonts/Oswald/Oswald-Regular.woff2') format('woff2'), 
	    url('./fonts/Oswald/Oswald-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: 'benas_neue__k';
  src:url('./fonts/Bebas_Neue/BebasNeue-Regular.woff2') format('woff2'), 
	    url('./fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}