.form{
	background: var(--dark_color) url('../image/form_bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: px-to-rem(100) 0;
	position: relative;
	&::before {
		content: '';
		background-color: var(--dark_color);
		opacity: .9;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	&__title{
		font-family: 'montserrat__k', sans-serif;
		font-weight: 900;
		line-height: 1.2;
		text-transform: uppercase;
		span {
			font-size: px-to-rem(57);
		}
	}
	&__wrap {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: px-to-rem(40);
		position: relative;
		z-index: 1;
	}
	&__left {
		@extend .flex-aifs-jcc;
		flex-direction: column;
		gap: px-to-rem(25);
	}
	&__list	{
		margin-left: px-to-rem(25);
		li {
			color: var(--light_color);
			font-family: 'montserrat__k', sans-serif;
			font-size: px-to-rem(24);
			font-weight: 700;
			line-height: 1.5;
			list-style: disc;
			margin-bottom: px-to-rem(10);
			&::marker {
				color: var(--accent_color);
			}
		}
		li:last-child {
			margin-bottom: 0;
		}
	}
	p {
		color: var(--light_color);
		font-family: 'montserrat__k', sans-serif;
		font-size: px-to-rem(16);
		font-weight: 500;
		line-height: 1.5;
	}
	&__right {
		justify-self: end;
	}
	.entry__form {
		@extend .flex-aic-jcc;
		flex-direction: column;
		gap: px-to-rem(25);
		background-color: rgba(53, 53, 53, 0.50);
		filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.15));
		backdrop-filter: blur(7.5px);
		padding: px-to-rem(30) px-to-rem(40);
		border-radius: px-to-rem(20);
		max-width: px-to-rem(500);
		width: 100%;
		h3 {
			color: var(--light_color);
			font-family: 'montserrat__k', sans-serif;
			font-size: px-to-rem(24);
			font-weight: 700;
			line-height: 1.5;
		}
		fieldset {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: px-to-rem(20);
			margin-bottom: 0;
		}
		.form__input {
			font-size: px-to-rem(14);
			font-weight: 600;
			max-width: px-to-rem(200);
			padding: px-to-rem(13.5);
		}
		.btn__accent {
			max-width: px-to-rem(200);
			font-size: px-to-rem(14);
		}
		.fieldset__privacy {
			display: flex;
			gap: px-to-rem(5);
			color: #CBCBCB;
			a {
				color: inherit;
			}
		}
	}
}

@media (max-width: 1100px) {
	.form{
		&__title{
			font-size: px-to-rem(30);
			span {
				font-size: px-to-rem(45);
			}
		}
		&__wrap {
			gap: px-to-rem(20);
		}
		.entry__form {
			padding: px-to-rem(30);
		}
	}
}
@media (max-width: 910px) {
	.form{
		padding: px-to-rem(90) 0;
		&__title.title{
			font-size: px-to-rem(20);
			span {
				font-size: px-to-rem(35);
			}
		}
		&__list	{
			li {
				font-size: px-to-rem(18);
				margin-bottom: px-to-rem(10);
			}
		}

		.entry__form {
			gap: px-to-rem(25);
			h3 {
				font-size: px-to-rem(20);
			}
			fieldset {
				gap: px-to-rem(10);
			}
			.form__input {
				padding: px-to-rem(10);
			}
		}
	}
}
@media (max-width: 800px) {
	.form{
		padding: px-to-rem(50) 0;
		&__wrap {
			grid-template-columns: 1fr;
		}
		&__right {
			justify-self: center;
			width: 100%;
		}
		.entry__form {
			max-width: 100%;
			padding: px-to-rem(20);
			fieldset {
				max-width: 100%;
				width: 100%;
			}
			.form__input {
				max-width: 100%;
			}
		}
	}
}
@media (max-width: 450px) {
	.form{
		padding: px-to-rem(30) 0;
		&__wrap {
			grid-template-columns: 1fr;
			gap: px-to-rem(10);
		}
		&__left {
			gap: px-to-rem(10);
		}
		&__title.title{
			span {
				font-size: px-to-rem(25);
			}
		}
		&__list	{
			li {
				font-size: px-to-rem(16);
				margin-bottom: px-to-rem(5);
			}
		}
		p {
			font-size: px-to-rem(14);
		}
		.entry__form {
			gap: px-to-rem(15);
			padding: px-to-rem(10);
			fieldset {
				grid-template-columns: 1fr;
			}
			.form__input {
				width: 100%;
			}
		}
	}
}