.gallery{
	padding: px-to-rem(90) 0;
	background-color: var(--dark_color);
	&__title{
		margin-bottom: px-to-rem(60);
	}
	&__wrap{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: px-to-rem(60);
	}
	&__left{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: px-to-rem(15);
		grid-template-areas: 'a a b'
							 					 'c d d'
							 					 'e f g';
		.a{
			grid-area: a;
		}
		.b{
			grid-area: b;
		}
		.c{
			grid-area: c;
		}
		.d{
			grid-area: d;
		}
		.e{
			grid-area: e;
		}
		.f{
			grid-area: f;
		}
		.g{
			grid-area: g;
		}
		img{
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__right {
		display: flex;
		align-items: center;
	}
	&__list	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: px-to-rem(30);
		li {
			@extend .flex-aic-jcsb;
			gap: px-to-rem(50);
			color: var(--light_color);
			font-family: 'montserrat__k', sans-serif;
			font-size: px-to-rem(20);
			font-weight: 700;
			line-height: 1.5;
			width: 100%;
			svg {
				display: block;
				max-width: px-to-rem(40);
				width: 100%;
				height: px-to-rem(40);
				fill: var(--accent_color);
			}
			span {
				color: var(--accent_color);
			}
			a {
				margin-left: px-to-rem(90);
			}
		}
	}
}

@media (max-width: 910px) {
  .gallery{
		&__wrap{
			grid-template-columns: 1fr;
		}
		&__list	{
			li {
				justify-content: flex-start;
			}
		}
	}
}
@media (max-width: 800px) {
  .gallery{
		padding: px-to-rem(50) 0;
		&__title{
			margin-bottom: px-to-rem(40);
		}
		&__wrap{
			gap: px-to-rem(40);
		}
		&__list	{
			gap: px-to-rem(20);
			li {
				gap: px-to-rem(40);
				font-size: px-to-rem(18);
			}
		}
	}
}
@media (max-width: 450px) {
  .gallery{
		padding: px-to-rem(30) 0;
		&__title{
			margin-bottom: px-to-rem(20);
		}
		&__wrap{
			gap: px-to-rem(30);
		}
		&__left {
			grid-template-columns: 1fr;
			grid-template-areas:  'a'
							 					 		'b'
							 					 		'c'
							 					 		'd'
							 					 		'e'
							 					 		'f'
							 					 		'g';
			picture {
				height: px-to-rem(179);
			}
		}
		&__list	{
			gap: px-to-rem(15);
			li {
				gap: px-to-rem(15);
				font-size: px-to-rem(14);
				a {
					margin-left: px-to-rem(90);
				}
			}
		}
	}
}