.hero{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: px-to-rem(-65);
	padding: px-to-rem(125) 0 px-to-rem(175);
	&__content{
		max-width: px-to-rem(700);
		width: 100%;
	}
	&__title{
		color: var(--text_color);
		font-size: px-to-rem(50);
		margin-bottom: px-to-rem(25);
	}
	&__description{
		color: var(--text_color);
		font-family: 'montserrat__k', sans-serif;
		font-size: px-to-rem(20);
		font-weight: 500;
		line-height: 1.5;
		margin-bottom: px-to-rem(25);
		span{
			color: var(--accent_color);
		}
	}
}