.services {
	padding: px-to-rem(90) 0;
	&__title {
		color: var(--text_color);
		margin-bottom: px-to-rem(60);
	}
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		align-items: center;
		justify-items: center;
		gap: px-to-rem(10);
		li {
			@extend .flex-aic-jcsb;
			flex-direction: column;
			gap: px-to-rem(10);
			max-width: px-to-rem(260);
			width: 100%;
			height: px-to-rem(360);
			background-color: #fafafa;
			padding: px-to-rem(30);
			border-radius: px-to-rem(20);
			position: relative;
			&::after{
				content: 'от 0р';
				@extend .flex-aic-jcc;
				width: px-to-rem(110);
				height: px-to-rem(30);
				color: var(--light_color);
				font-family: 'montserrat__k', sans-serif;
				font-size: px-to-rem(14);
				font-weight: 700;
				line-height: 1.1;
				background-color: var(--accent_color);
				position: absolute;
				top: 0;
				right: 0;
				border-radius: px-to-rem(5) px-to-rem(20) px-to-rem(5) px-to-rem(5);
			}
		}
		.img__wrap{
			flex-basis: 50%;
			@extend .flex-aic-jcc;
			width: px-to-rem(200);
			height: px-to-rem(150);
		}
		img {
			margin: 0 auto;
			object-fit: cover;
		}
		h3 {
			color: var(--text_color);
			font-family: 'montserrat__k', sans-serif;
			font-size: px-to-rem(24);
			font-weight: 700;
			line-height: 1.2;
		}
	}
}

@media (max-width: 1100px) {
  .services {
		&__list {
			li {
				max-width: px-to-rem(220);
				height: px-to-rem(345);
				padding: px-to-rem(20);
			}
			.img__wrap{
				width: px-to-rem(170);
			}
			h3 {
				font-size: px-to-rem(22);
			}
		}
	}
}
@media (max-width: 910px) {
  .services {
		&__list {
			li {
				height: px-to-rem(300);
			}
			.img__wrap{
				width: px-to-rem(140);
				height: px-to-rem(150);
			}
			h3 {
				font-size: px-to-rem(18);
			}
		}
	}
}
@media (max-width: 800px) {
  .services {
		padding: px-to-rem(50) 0;
		&__title {
			margin-bottom: px-to-rem(40);
		}
		&__list {
			grid-template-columns: 1fr 1fr;
			gap: px-to-rem(20);
			li {
				max-width: 100%;
			}
		}
	}
}
@media (max-width: 450px) {
  .services {
		padding: px-to-rem(30) 0;
		&__title {
			margin-bottom: px-to-rem(20);
		}
		&__list {
			grid-template-columns: 1fr;
		}
	}
}