.work{
	padding: px-to-rem(90) 0;
	&__title {
		color: var(--text_color);
		margin-bottom: px-to-rem(60);
	}
	&__swiper-slide {
		@extend .flex-aic-jcsb;
		gap: px-to-rem(40);
	}
	&__slide-title {
		color: var(--text_color);
		font-family: 'montserrat__k', sans-serif;
		font-size: px-to-rem(35);
		font-weight: 700;
		line-height: 1.5;
		margin-bottom: px-to-rem(25);
	}
	&__slide-img {
		max-width: px-to-rem(560);
		width: 100%;
		height: 100%;
		border-radius: px-to-rem(10);
		overflow: hidden;
	}
	&__slide-content {
		width: 100%;
	}
	&__slide-list {
		li {
			display: flex;
			background-color: var(--dark_color);
			border-radius: px-to-rem(15);
			max-width: px-to-rem(530);
			width: 100%;
			margin-bottom: px-to-rem(25);
			hr {
				height: px-to-rem(74);
				color: #929292;
				margin: auto;
			}
		}
		li:last-child {
			margin-bottom: 0;
		}
		.btn__item {
			background-color: transparent;
			position: relative;
		}
		.left, .right{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 50%;
			padding: px-to-rem(30);
			p {
				color: #EDEDEE;
				font-family: 'montserrat__k', sans-serif;
				font-size: px-to-rem(16);
				font-weight: 700;
				line-height: normal;
				margin-bottom: px-to-rem(10);
			}
			div {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			}
			svg {
				fill: var(--light_color);
				width: px-to-rem(16);
				height: px-to-rem(16);
				display: inline-block;
			}
			span {
				color: var(--light_color);
				font-family: 'montserrat__k', sans-serif;
				font-size: px-to-rem(20);
				font-weight: 700;
				line-height: normal;
			}
		}
		
	}
	&__btn-box {
		position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(70%);
		width: px-to-rem(100);
		height: px-to-rem(30);
		margin-left: auto;
		z-index: 5;
	}
	&__btn{
		max-width: px-to-rem(260);
	}
	&__swiper-pagination {
		display: none;
		.swiper-pagination-bullet-active {
			background-color: var(--accent_color);
		}
	}
}

@media (max-width: 1100px) {
  .work{
		.left, .right{
			text-align: center;
			padding: px-to-rem(20);
			p {
				font-size: px-to-rem(14);
			}
			span {
				font-size: px-to-rem(18);
			}
		}
	}
}
@media (max-width: 910px) {
  .work{
		padding: px-to-rem(90) 0;
		&__title {
			margin-bottom: px-to-rem(60);
		}
		&__slide-title {
			font-size: px-to-rem(28);
			margin-bottom: px-to-rem(20);
		}
		&__slide-list {
			.left, .right{
				padding: px-to-rem(16);
				span {
					font-size: px-to-rem(16);
				}
			}
		}
	}
}
@media (max-width: 800px) {
  .work{
		padding: px-to-rem(50) 0;
		&__title {
			margin-bottom: px-to-rem(40);
		}
		&__swiper-slide {
			flex-direction: column;
		}
		&__slide-title {
			font-size: px-to-rem(28);
			margin-bottom: px-to-rem(20);
		}
		&__slide-content {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__slide-list {
			width: 100%;
			display: contents;
		}
		&__btn {
			position: relative;
		}
	}
}
@media (max-width: 600px) {
  .work{
		&__swiper-slide {
			gap: px-to-rem(20);
		}
		&__slide-img {
			max-width: px-to-rem(350);
		}
		&__slide-title {
			font-size: px-to-rem(22);
			margin-bottom: px-to-rem(14);
		}
		&__slide-list {
			.left, .right{
				p {
					font-size: px-to-rem(12);
				}
				span {
					font-size: px-to-rem(14);
				}
				svg {
					width: px-to-rem(14);
					height: px-to-rem(12);
				}
			}
		}
	}
}
@media (max-width: 450px) {
  .work{
		padding: px-to-rem(30) 0;
		&__title {
			margin-bottom: px-to-rem(20);
		}
		&__swiper-slide {
			gap: px-to-rem(20);
		}
		&__slide-title {
			font-size: px-to-rem(22);
			margin-bottom: px-to-rem(14);
		}
		&__slide-list {
			li {
				flex-direction: column;
				hr {
					height: 0;
					width: 100%;
				}
			}
			.btn__item {
				margin-top: px-to-rem(30);
				align-items: center;
			}
			.left, .right{
				padding: px-to-rem(10);
				width: 100%;
			}
		}
		&__btn-box {
			display: none;
		}
		&__swiper-pagination {
			display: block;
			text-align: center;
			position: relative;
			bottom: px-to-rem(80)!important;
		}
	}
}